@model Pizza

@{
    ViewData["Title"] = "Order form";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Pizza" asp-action="Show"  method="post">
    <div class="form-group">
        <label asp-for="Client" class="control-label"></label>
        <input asp-for="Client" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Type" class="control-label">Pizza</label>
        <input asp-for="Type" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ExtraCheese" class="control-label">Extra cheese</label>
        <input asp-for="ExtraCheese" class="checkbox" />
    </div>
    <div class="form-group">
        <label asp-for="PaymentMethod" class="control-label"></label>
        <br />
        <input id="cash" type="radio" name="PaymentMethod" value="Cash">
        <label for="cash" style="font-weight: 100;">Cash</label>
        <br />
        <input id="bct" type="radio" name="PaymentMethod" value="Bancontact">
        <label for="bct" style="font-weight: 100;">Bancontact</label>
        <br />
        <input id="wt" type="radio" name="PaymentMethod" value="WireTransfer">
        <label for="wt" style="font-weight: 100;">Wire transfer</label>
        <br />
    </div>
    <input value="Order" type="submit" class="btn btn-primary" />
</form>

